body {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}
h1 {
    font-size: 34px;
    color: white;
    background-color: gray;
    text-align: center;
}
h4 {
   
    color: green;
}
h3 {
color: gray;

}
.id {
    border-top: 1px;
}
a {
    position:relative;
    left: 15px;
    color: rgb(227, 13, 13);
    text-align: left;
   
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}


