<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Tutorial</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div>
        <a href="/">Home</a> &nbsp
        <a href="/python">python</a> &nbsp
        <a href="/javaScript">javaScript</a> &nbsp
    </div>

  
    
<h1>Tutorial website </h1>

<p> <a href="/courses"> see all Tutorials </a></p>
<div id="forms"> <form action="/search" method = "get" >
  <input type="text" placeholder="Search within Tutorials" name="q" id="course">
 <input type="submit" value="search">
</form></div>


<script src="/static/script.js"></script>
</body>
</html>